Unit]
Description=Meu Script no Boot
After=network.target

[Service]
Type=simple
User=banana
WorkingDirectory=/home/banana/
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/banana/menuPrincipal/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

